[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django-rest-api = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
redis = "*"
kombu = "*"

[dev-packages]
"flake8" = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
