{% extends 'adventure/base.html' %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Please Log in</h1>

            <form action={% url 'adventure:user_login' %} method="post">
            {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter Username">

                <label for="password">Password:</label>
                <input type="text" name="password" placeholder="Enter password">

                <input type="submit" value="Login">
            </form>
        
    </div>
</div>


{% endblock body_block %}